* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.navbar-light {
    background-color: white !important;
}

.nav-logo-text {
    display: inline;
    font-size: 16px;
}

.nav-link {
    margin-left: 40px;
}

.main-content {
    position: relative;
    background-color: #eeeeed;
    overflow: hidden;
}

.section {
    padding-top: 180px;
    padding-bottom: 180px;
}

.grid {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.grid-item {
    padding-right: 80px;
    padding-left: 18px;
    width: 40%;
}

.section-heading {
    margin-bottom: 0;
    text-align: left;
}

.heading {
    font-family: 'Courgette', cursive;
    color: #88b30f;
    margin-bottom: 30px;
    font-size: 70px;
}

.sub-heading {
    font-size: 18px;
    color: #4a4c44;
    text-align: left;
    margin: 20px 0 20px 0;
}

.cover-photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    display: block;
    height: 100%;
}

.img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
    height: 250px;
}

.container-item {
    text-align: left;
}

.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
    margin: 15px;
    padding-bottom: 30px;
}
  
.photo { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.center-items {
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #eeeeed;
}

.footer-text {
    font-size: 15px;
    color: white;
    padding-top: 10px;
}


@media only screen and (max-width: 600px) {
    .section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .container {
        margin-bottom: 50px;
    }

    .grid-item {
        padding-right: 18px;
        width: 100%;
    }

    .heading {
        font-size: 50px;
    }

    .sub-heading {
        width: 100%;
    }

    .cover-photo {
        position: relative;
        bottom: 0;
        width: 290px;
        margin-top: 20px;
    }

    .masonry {
        column-count: 1;
    }
