* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.space-container {
    margin-bottom: 50px;
}

.navbar-light {
    background-color: white !important;
}

.nav-logo-text {
    display: inline;
    font-size: 16px;
}

.nav-link {
    margin-left: 40px;
}

.main-content {
    position: relative;
    background-color: #eeeeed;
    overflow: hidden;
}

.section {
    padding-top: 180px;
    padding-bottom: 180px;
}

.grid {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.grid-item {
    padding-right: 80px;
    padding-left: 18px;
    width: 40%;
}

.flex-img-container {
    width: 30%;
    margin: 20px;
}

.flex-img {
    width: 100%;
}

.section-heading {
    margin-bottom: 0;
    text-align: left;
}

.heading {
    font-family: 'Courgette', cursive;
    color: #88b30f;
    margin-bottom: 30px;
    font-size: 70px;
}

.heading-centered {
    font-family: 'Courgette', cursive;
    color: #88b30f;
    margin-bottom: 30px;
    font-size: 70px;
    text-align: center;
}

.sub-heading {
    font-size: 18px;
    color: #4a4c44;
    text-align: left;
    margin: 20px 0 20px 0;
}

.cover-photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    display: block;
    height: 100%;
}

.img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
    height: 250px;
}

.container-item {
    text-align: left;
}

.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
    margin: 15px;
    padding-bottom: 30px;
}
  
.photo { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.center-items {
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search-div {
    width: 100%;
    height: 300px;
    background-color: #88b30f;
}

.search-title {
    font-family: 'Courgette', cursive;
    font-size: 40px;
    color: white;
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
}

.search-text {
    font-size: 18px;
    color: #4a4c44;
    text-align: center;
    padding: 10px 200px 10px 200px;
}

.search-bar{
    margin: 20px 80px 20px 80px;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    padding-left: 20px;
}

.search-input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.search-bar:hover > .search-input{
    width: 450px;
    caret-color:#88b30f;
    transition: width 0.4s linear;
}

.species-name {
    font-size: 20px;
    font-weight: bold;
}

.species-info {
    font-size: 14px;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
    padding: 20px;
    background-color: #eeeeed;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-text {
    width: 50%;
    font-size: 25px;
}

.banner-img {
    width: 15%;
}

.banner-species {
    width: 25%;
    font-size: 20px;
    margin-left: 10px;
}

.endangered {
    font-size: 20px;
    color: red;
    font-style: italic;
}

.activity-container {
    width: 30%;
    margin: 20px;
    background-color: #eeeeed;
}

.activity-heading {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
}

.activity-text {
    font-size: 14px;
    padding: 0 20px 20px 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #eeeeed;
}

.footer-text {
    font-size: 15px;
    color: white;
    padding-top: 10px;
}


@media only screen and (max-width: 600px) {
    .section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .container {
        margin-bottom: 50px;
    }

    .grid-item {
        padding-right: 18px;
        width: 100%;
    }

    .heading {
        font-size: 50px;
    }

    .sub-heading {
        width: 100%;
    }

    .cover-photo {
        position: relative;
        bottom: 0;
        width: 290px;
        margin-top: 20px;
    }

    .search-div {
        height: 500px;
    }

    .search-text {
        padding: 10px;
    }

    .search-bar {
        margin: 20px;
    }

    .flex-img-container {
        width: 100%;
        margin: 10px;
    }

    .masonry {
        column-count: 1;
    }

    .banner {
        height: 500px;
    }

    .banner-text {
        width: 100%;
        font-size: 35px;
    }
    
    .banner-img {
        width: 100%;
    }
    
    .banner-species {
        width: 100%;
        font-size: 20px;
    }

    .activity-container {
        width: 100%;
        margin: 10px;
    }

}